
/* =========================
   Header Section
========================= */
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

/* =========================
   Card Container
========================= */
.content-card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* =========================
   Creator Card
========================= */
.creator-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 380px;
  width: 380px;

  padding: 1.3rem;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  background-color: var(--card-background-color);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.creator-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

/* =========================
   Creator Card Footer
========================= */
.creator-card footer {
  background-color: var(--card-background-color);
}

.creator-card footer a {
  color: var(--muted-color);
  text-decoration: none;
}

/* .creator-card footer a:hover {
  color: var(--primary);
} */

/* =========================
   Creator Avatar
========================= */
.creator-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 10px;
  background-color: var(--card-background-color);
}

.creator-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.creator-avatar p:nth-child(2) {
  color: var(--muted-color);
}

.add-creator-btn {
  background-color: #001F3D;
  color: white;
  font-weight: bold;
}

.add-creator-btn:hover {
  background-color: #213448
}

/* Add creator component styling */

.add-creator-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.add-creator-component h1 {
  color: var(--color);
}

.add-creator-component input[type="text"], textarea[type="text"] {
  background-color: white;
  border: none;
  color: var(--color);
  width: 60%;
}

.add-creator-component input[type="submit"] {
  width: 60%;
  font-weight: bold;
  background-color: #001F3D;
}

.add-creator-component input[type="submit"]:hover {
  background-color: #213448
}