#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-card-container {
  display: "grid";
}

.creator-card {
  background: linear-gradient(135deg, #667eea 0%, #764ba2, 100%);
    color: white;
  border-radius: 5px;
  padding: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.creator-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}