#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-card-container {
  display: "grid";
}

.creator-card {
  border-radius: 15px;
  padding: 1.3rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.creator-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.creator-avatar img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}