
.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-card-container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.creator-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 380px;
  width: 380px;
  align-items: center;
  border-radius: 15px;
  padding: 1.3rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.creator-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.creator-avatar img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}